	<div class="body-main-left sm-12-12 md-8-12 lg-9-12 xl-9-12">
		<h2 class="header">Thoughts & Brain Puking</h2>
		<article></article>
	</div><!-- END body-main-left -->

	<aside class="body-main-right sm-12-12 md-4-12 lg-3-12 xl-3-12">
		<div class="social-media-box sm-12-12 md-12-12 lg-12-12 xl-12-12">
			<ul class="social-media-box-container">
				<li><a href="https://www.facebook.com/thomasjwicker" target="blank"><i class="fa fa-facebook"></i></a></li>
				<li><a href="https://twitter.com/thomasjwicker" target="blank"><i class="fa fa-twitter"></i></a></li>
				<li><a href="https://www.linkedin.com/in/thomaswicker" target="blank"><i class="fa fa-linkedin"></i></a></li>
				<li><a href="https://github.com/thomaswicker" target="blank"><i class="fa fa-github-alt"></i></a></li>
				<li><a href="https://dribbble.com/thomasjwicker" target="blank"><i class="fa fa-dribbble"></i></a></li>
				<li><a href="http://www.codepen.io/thomasjwicker" target="blank"><i class="fa fa-codepen"></i></a></li>
				<li><a href="http://instagram.com/thomasjwicker" target="blank"><i class="fa fa-instagram"></i></a></li>
			</ul>
		</div><!-- END social-media-box -->

		<div class="social-feed sm-12-12 md-12-12 lg-12-12 xl-12-12">
			<h2 class="header margin top xl">Social Ramblings</h2>
		</div><!-- END body-main-right -->

	</aside><!-- END social-feed -->
