/* ========================================================
   BEGIN ABOUT PAGE SCSS
   ======================================================== */
   
#body-about {
  position: absolute;
  top: 250px;
  z-index: 102;
  background-color: $white;
  padding-bottom: 75px;
}

/* ========================================================
   END ABOUT PAGE SCSS
   ======================================================== */
   