/*
  _   _  ___  __  __ _____ 
 | | | |/ _ \|  \/  | ____|
 | |_| | | | | |\/| |  _|  
 |  _  | |_| | |  | | |___ 
 |_| |_|\___/|_|  |_|_____|
                                                                                                                                                                  
*/
 
 #body-home {
	position: absolute;
  	top: 250px;
 	background-color: #F4F7F8;
 	padding-bottom: 75px;
    z-index: 10000000;  

    @include mq(sm) {
   		top: 150px;
    }
 }

#body-home-inner {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	background-color: $white;

	@include mq(md) {
		width: 90%;
	}

	@include mq(sm) {
		width: 95%;
	}
}

.body-home-left {
	float: left;
	padding: 30px 30px 0px 0px;
	
	@include mq(md) {
		padding: 30px 0px 0px 0px;
	}

	@include mq(sm) {
		padding: 30px 0px 0px 0px;
	}	
}

.body-home-right {
	float: left;
	margin: 0px 0px 20px 0px;
	padding: 30px 0px 0px 0px;
	height: auto;
 	background-color: #F4F7F8;
}

#archives-container {
	float: left;
	border: 2px solid $red-potion;	
	background-color: $white;
	margin: 0em 0em 1.2em 0em;

	ul {
		width: 90%;

		li {
			float: left;
			width: 95%;
			padding: 10px 20px 15px 20px;
			line-height: 1.3rem;
			border-bottom: 1px solid $light-gray;

			a {
				color: $dark-gray;
				text-decoration: none;

				&:hover {
					color: $red-potion;
					text-decoration: underline;
				}
			}
		}

		li:last-child {
			border-bottom: none;	
		}
	}

	#archives-title {
		float: left;
		width: 100%;
		height: 50px;
		border-bottom: 1px solid $red-potion;	
		padding: 8px 0px 0px 0px;
		background-color: $white;

		#archives-title-left {
			float: left;
			width: 60px;
			height: 50px;
			text-align: center;

			svg {
				width: 40px;
			}
		}

		#archives-title-middle {
			float: left;
			width: calc(100% - 170px);
			height: 50px;

			h4 {
				@include font($font-2, normal, $font-size-md, $font-weight-semibold);
				padding: 10px 0px 0px 5px;
				color: $red-potion;	
			}
		}

		#archives-title-right {
			float: left;
			width: 110px;
			height: 50px;
			text-align: center;
			padding: 5px 0px 0px 0px;

			a.btn {
				@include font($font-1, normal, .7rem, $font-weight-semibold);
				text-decoration: none;			
			}
		}
	}
}	

#lastfm-container {
	float: left;
	border: 2px solid darken($green-potion, 10%);	
	background-color: $white;	

	#lastfm-title {
		float: left;
		width: 100%;
		height: 50px;
		border-bottom: 1px solid darken($green-potion, 10%);	
		padding: 8px 0px 0px 0px;
		background-color: $white;	

		#lastfm-title-left {
			float: left;
			width: 60px;
			height: 50px;
			text-align: center;

			svg {
				width: 40px;
			}
		}

		#lastfm-title-right {
			float: left;
			width: calc(100% - 60px);
			height: 50px;

			h4 {
				@include font($font-2, normal, $font-size-md, $font-weight-semibold);
				padding: 10px 0px 0px 5px;
				color: darken($green-potion, 10%);	
			}
		}
	}
}

.lastfm-song {
	float: left;
	width: calc(100% - 40px);
	padding: 10px 20px 10px 20px;
	border-bottom: 1px solid $xlight-gray;
	background-color: $white;	

	&.lastfm-song:nth-child(odd) {
	    background-color: lighten($light-gray, 22%);
	}

	h4 {
		@include font($font-2, normal, .9rem, $font-weight-light);
		color: $color-primary;
	}

	span {
		@include font($font-1, italic, .9rem, $font-weight-normal);
		color: $dark-gray;
		line-height: 1.4em;
	}

	a {
		@include font($font-1, normal, .9rem, $font-weight-semibold);
		color: darken($green-potion, 10%);
		line-height: 1.4em;
	}
}

.social-feed {
	float: left;
	padding: 0px 0px 0px 0px;
	margin: 1.2em 0em 0em 0em;
	border: 2px solid $color-primary;	
	background-color: $white;	

	h2 {
		padding: 0px 0px 0px 0px;
	}

	aside {
		padding: 0px 0px 0px 0px;
	}

	#twitter-feed {
		width: 80%;
		margin-left: 20px;
	}

	#twitter-title {
		float: left;
		width: 100%;
		height: 50px;
		border-bottom: 1px solid $color-primary;	
		padding: 8px 0px 0px 0px;
		
		#twitter-title-left {
			float: left;
			width: 60px;
			height: 50px;
			text-align: center;

			svg {
				width: 40px !important;
			}
		}

		#twitter-title-right {
			float: left;
			width: calc(100% - 60px);
			height: 50px;

			h4 {
				@include font($font-2, normal, $font-size-md, $font-weight-semibold);
				padding: 10px 0px 0px 5px;
				color: $color-primary;	
			}
		}
	}
}

.var-chromeless .tweet {
	border-bottom: 1px solid $light-gray !important;
	padding: 0em 0em 2em 0em;
}


/* ========================================================
   END HOME PAGE SCSS
   ======================================================== */
   