/* ========================================================
   BEGIN HOME PAGE SCSS
   ======================================================== */
   
.body-main-left {
	float: left;
	margin: 40px 0px 0px 0px;
	padding: 0px 0px 0px 50px;

	h2:first-child {
		padding: 0px 0px 40px 0px;
	}
}

.body-main-right {
	float: left;
	margin: 0px 0px 0px 0px;
	height: auto;
	border-left: 1px solid $light-gray;
	border-bottom: 1px solid $light-gray;
	padding: 0px;
}

.social-feed {
	padding: 0em 2.75em 0em .75em;
	margin: 1em 0em 0em 0em;

	h2 {
		padding: 1.2em 0em 0em 1em;
	}

	aside {
		padding: .5em 1.2em 0em 1.2em;
	}
}

.var-chromeless .tweet {
	border-bottom: 1px solid $light-gray !important;
	padding: 0em 0em 2em 0em;
}


/* ========================================================
   END HOME PAGE SCSS
   ======================================================== */
   