/* ========================================================
   BEGIN NAV SCSS
   ======================================================== */
#nav {

}

.nav-header {
  background: rgba(lighten($black, 10%), 0.9);
}

.sticky {  
    position: fixed !important;  
    top: 0px !important;
    left: 0px !important;  
    z-index: 10000000;  
    border-top: 0;  
}  

.main-header {
	position: absolute;
	top: 205px;
    z-index: 100000000;  

	@include mq(sm) {
		top: 110px;
	}
}

.main-nav {
	position: absolute;
	left: 0px;

	@include mq(sm) {
		top: 0px;
		left: 0px;
		width: 100%;
		position: relative;
	}

	ul li a{
	    font-size: .95rem;
		font-family: $font-2;
		font-weight: 300;
		color: $white;
		text-transform: uppercase;
	}
}

/* ========================================================
   END NAV SCSS
   ======================================================== */
   