/*
  ____   ___  ____ _____ _____ ___  _     ___ ___  
 |  _ \ / _ \|  _ \_   _|  ___/ _ \| |   |_ _/ _ \ 
 | |_) | | | | |_) || | | |_ | | | | |    | | | | |
 |  __/| |_| |  _ < | | |  _|| |_| | |___ | | |_| |
 |_|    \___/|_| \_\|_| |_|   \___/|_____|___\___/ 
                                                                                                                                                                                                                                                                                                        
*/

#body-portfolio {
	position: absolute;
	top: 250px;
	z-index: 102;
	background-color: $white;
	padding-bottom: 75px;
	z-index: 10000000;  
	overflow-x: hidden;

	@include mq(sm) {
		top: 150px;
	}
}

#body-portfolio-inner {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 0px 0px 35px 0px; 
	position: relative;
	background-color: $white;
	overflow-x: hidden;

	.masonry {
		float: left;
		width: 100%;
		margin: 0px !important;
		padding: 0px !important;  
		color: none !important;
		background-color: $white;
		overflow-x: hidden;

		@include mq(lg) {
			width: 100%;
		}

		@include mq(md) {
			width: 100%;
		}

		@include mq(sm) {
			width: 100%;
		}

		.item {
			float: left;
			width: 33.3%;
			height: auto;
			background-color: $white;
			-moz-box-shadow:    0px 0px 5px #ccc;
			-webkit-box-shadow: 0px 0px 5px #ccc;
			box-shadow:         0px 0px 5px #ccc;

			@include mq(lg) {
				width: 50%;
			}

			@include mq(md) {
				width: 50%;
			}

			@include mq(sm) {
				width: 100%;
			}

			h3 {
				float: left;
				width: 90%;
				padding: 30px 50px 0px 30px;
				@include font($font-2, normal, 1.5rem, $font-weight-light);
				line-height: 1.6rem;

				@include mq(md) {
					font-size: 1.2rem;
				}

				@include mq(sm) {
					font-size: 1.2rem;
				}
			}

			h4 {
				float: left;
				width: 90%;
				padding: 0px 50px 0px 30px;
				margin-top: -5px;
				@include font($font-1, normal, .9rem, $font-weight-light);
				color: $color-primary;
				line-height: 1.4rem;

				@include mq(md) {
					font-size: .8rem;
				}

				@include mq(sm) {
					font-size: .8rem;
				}
			}

			h5 {
				float: left;
				width: 90%;
				padding: 0px 50px 20px 30px;
				@include font($font-1, normal, .75rem, $font-weight-normal);
				color: $light-gray;
				line-height: 1.4rem;

				@include mq(md) {
					font-size: .75rem;
				}

				@include mq(sm) {
					font-size: .75rem;
				}
			}

			a {
				font-size: .8rem;
				text-decoration: none; 
			}

			.buttons {
				float: left;
				width: 100%;
				padding: 0px 20px 20px 20px;
				
				@include mq(sm) {
					padding: 20px 20px 20px 20px;
				}
			}

			.image {
				padding: 20px;
			}
		}
	}
}

#details {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	background: rgba(0, 0, 0, 0.8);
	overflow: scroll;
	z-index: 12000000000000000000000000;
	display: none;
	padding-bottom: 175px;
}

.active-modal {
	display: block !important;
	transition: .8s;
}

.modules {
	width: 50%;
	height: auto;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	top: 10%;
	z-index: 120000000000000000000000001;
	overflow: scroll;
	background-color: $white;
	text-align: center;
	padding-bottom: 50px;

	@include mq(sm) {
		width: 90%;
	}

	article img {
		margin-top: 30px;
	}
}
/* ========================================================
   END PORTFOLIO PAGE SCSS
   ======================================================== */
   