/* ========================================================
   BEGIN SUPERHERO SCSS
   ======================================================== */

$superhero-home: rgba(42,152,215,0.75);
$superhero-about: rgba(160,110,175,0.75);
$superhero-portfolio: rgba(133,185,51,0.9);
$superhero-photography: rgba(170,31,35,0.75);
$superhero-resume: rgba(225,178,37,0.75);
$superhero-contact: rgba(241,96,63,0.85);


.superhero {
	width: 100%;
	height: 290px;
    background-image: url('../img/bg_code.jpg');
    background-size: 100%;
    background-color: $black;
	position: fixed;
    z-index: 100;

    &.about {
        background-image: url('../img/bg_code_about.jpg');
    }

    &.portfolio {
        background-image: url('../img/bg_code_portfolio.jpg');
    }

    &.photography {
        background-image: url('../img/bg_code_photography.jpg');
    }

    &.resume {
        background-image: url('../img/bg_code_resume.jpg');
    }

    &.contact {
        background-image: url('../img/bg_code_contact.jpg');
    }

    #download-resume-btns {
        float: left;
        margin: 5px 0px 0px 40px;
    
        @include mq(sm) {
            float: none;
            width: 300px;
            margin-left: auto;
            margin-right: auto;
        }
    
        button {
            margin: 0px 5px 0px 0px;
        }

        a {
            text-decoration: none;
            margin-right: 0px;
        }
    }

    @include mq(sm) {
		height: 340px;
	}

    .pixel-me {
    	text-align: right;

        @include mq(sm) {
			text-align: center;
		}

    	img {
    		padding: .6em 0em 0em 0em;
    		width: 155px;

            @include mq(lg) {
               
            }

            @include mq(md) {
    			width: 150px;
    			margin: .4em 0em 0em 0em;
			}

            @include mq(sm) {
                width: 145px;
                margin: .2em 0em 0em 0em;
            }
    	}
    }

    .my-info {
    	text-align: left;

		@include mq(sm) {
    		text-align: center;
            margin: -.75em 0em 0em 0em;
		}

    	h1 {
    		padding: 1.2em 0em 0em 1em;
    		font-size: 2.2rem;
			font-family: $font-1;
			font-weight: 600;    		
			color: $white;

            @include mq(md) {
    			margin: .2em 0em .25em 0em;
                font-size: 2rem;
			}

            @include mq(sm) {
			    margin: -2.5em 0em .25em 0em;
                padding: 1.2em 0em 0em 0em;
			    font-size: 1.7rem;
                font-weight: 500;
			}
    	}

    	h2 {
    		height: .8rem;
    		font-size: 1.1rem;
    		font-family: $font-1;
      		font-weight: 400;
    		color: $white;
    		text-transform: uppercase;
            padding: 0em 0em 0em 2em;

            @include mq(sm) {
              margin: 0em 0em 0em 0em;
              padding: 0em 0em 0em 0em;
              font-size: .9rem;
              font-weight: 300;
            }
    	}

    	p {
       		padding: .7em 1em 0em 2.3em;
    		font-size: 1rem;
    		font-family: $font-1;
    		font-weight: 400;
    		line-height: 1.5rem;
    		color: $white;

            @include mq(md) {
    			font-size: .9rem;
       			font-weight: 300;
                margin: .2em 0em .4em 2.35em;
                padding: 0em 2em 0em 0em;
                line-height: 1.3rem;
			}

            @include mq(sm) {
				display: none;
			}
    	}

        p.quote {
            margin: -.5em 0em .5em 0em;
            padding: .7em 1em 0em 2.3em;
            font-size: 1rem;
            font-family: $font-1;
            font-weight: 400;
            line-height: 1.3rem;
            color: $white;

            @include mq(md) {
                font-size: .9rem;
                font-weight: 300;
                margin: .2em 0em .4em 2.35em;
                padding: 0em 2em 0em 0em;
                line-height: 1.3rem;
            }

            @include mq(sm) {
                display: none;
            }
        }

        button {
            margin: .1em 0em 0em 2.85em;

            a {
                text-decoration: none;
                color: $white;
                text-transform: uppercase;
            }      
        }

        small {
            @include font($font-1, italic, .8rem, $font-weight-normal);
            color: $color-primary;
            font-style: italic;
            padding: .2em 0em 0em 2em;
        }
    }
}

.social-media-box {
    position: fixed;
    width: 47px;
    top: 30px;
    right: 0px;
    border-bottom: 1px solid $light-gray;
    padding: 0px 0px 10px 0px;
    text-align: center;
    background: $superhero-home;
    z-index: 200;

    @include mq(sm) {
        display: none;
    }

    a {
        float: left;
        clear: right;
        width: 35px;
        height: 35px;
        text-align: center;
        margin: 10px 7px 0px 0px;
        padding: 7px 0px 0px 0px;
        border: 1px solid rgba(255,255,255,0.75);
    
        &:first-child {
            margin: 8px 7px 0px 0px;    
        }

        &:hover {
            background-color: darken($superhero-home, 25%);

            i {
                color: $white;
            }
        }

        i {
            font-size: 1.6rem;
            color: $white;
        }
    }

    &.about {
        background: $superhero-about;

        a:hover {
            background: darken($superhero-about, 30%);
        }
    }

    &.portfolio {
        background: $superhero-portfolio;

        a:hover {
            background: darken($superhero-portfolio, 25%);
        }
    }

    &.photography {
        background: $superhero-photography;

        a:hover {
            background: darken($superhero-photography, 25%);
        }
    }

    &.resume {
        background: $superhero-resume;

        a:hover {
            background: darken($superhero-resume, 25%);
        }
    }

    &.contact {
        background: $superhero-contact;

        a:hover {
            background: darken($superhero-contact, 25%);
        }
    }
}

.social-media-box-container {
    width: auto;
    padding: 0px 5px 0px 5px;
}
/* ========================================================
   END SUPERHERO SCSS
   ======================================================== */
   