@import '../global/vars.scss';
@import '../global/mixins.scss';

/*
  _     ___ ____ _____ ____  
 | |   |_ _/ ___|_   _/ ___| 
 | |    | |\___ \ | | \___ \ 
 | |___ | | ___) || |  ___) |
 |_____|___|____/ |_| |____/ 
                                                                                                                                                                                                                                          
*/

/*ul*/.numbered-list{
    list-style-type: decimal;
}

.nobullet-list {

    li {
        padding: .1em .4em .1em .4em;

        a {
            font-family: $font-1;
            font-size: 1rem;
            line-height: 1.3rem;
        }
    }
}

.bullet-list {

}

.bullet-list {
    list-style:none;
    margin-left:0;
    border-top-width:1px;

    > li{
        border-bottom-width:1px;
        padding: $base-spacing-unit;
    }
}

.bullet-list_link {
    display: block;
    padding: $base-spacing-unit;
    margin: $base-spacing-unit;
}