<footer class="site-footer">

 	<!-- DEFER LOADING OF ANCIENT SCROLLS -->
    <script>
      var cb = function() {
        var l = document.createElement('link'); l.rel = 'stylesheet';
        l.href = '{{ site.baseurl }}/css/application.min.css';
        $("head").append(l);
      };
      var raf = requestAnimationFrame || mozRequestAnimationFrame ||
          webkitRequestAnimationFrame || msRequestAnimationFrame;
      if (raf) raf(cb);
      else window.addEventListener('load', cb);

    </script>

    <script type="text/javascript">
	  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	  document.write(unescape("%3Cscript src=" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	  try {
	    var pageTracker = _gat._getTracker("UA-49327942-1");
	    pageTracker._trackPageview();
	  } catch(err) {}
	</script>

	<!-- BEGIN GOOGLE ANALYTICS 
	    <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-49327942-1');ga('send','pageview');
        </script>
	</script>-->

    <!-- PAGE NAVIGATION TAB STYLING -->
    <script>
	   var loc = window.location.href;
	   if(loc=== "{{ site.baseurl }}/") {
	     $("#homeBTN").addClass("current");
		 } else if (loc=== "{{ site.baseurl }}/about/") {
		     $("#aboutBTN").addClass("current");
		 } else if (loc=== "{{ site.baseurl }}/portfolio/") {
		     $("#portfolioBTN").addClass("current");
		 } else if (loc=== "{{ site.baseurl }}/photography/") {
		     $("#photographyBTN").addClass("current");
		 } else if (loc=== "{{ site.baseurl }}/resume/") {
		     $("#resumeBTN").addClass("current");
		 } else if (loc=== "{{ site.baseurl }}/contact/") {
		     $("#contactBTN").addClass("current");
		 } 
	</script>

</footer>
