  <section class="superhero row">

    <div class="pixel-me sm-12-12 md-4-12 lg-3-12 xl-3-12">
      <img src="{{ site.baseurl }}/img/pixel_me.png" alt="Pixel Icon of Thomas Wicker">
    </div><!-- END pixel-me -->
    
    <div class="my-info sm-12-12 md-8-12 lg-8-12 xl-8-12">
      <h1 class="header">Thomas Wicker</h1>
      <h2>Front End Developer/Designer</h2>
      <p>UI/UX designer, front-end developer, HTML & CSS ninja, entrepreneur, fine artist, photographer, father. Extreme passion for new tech: #html5, #css3, #sass, #jquery, #javascript, #rails</p>
    </div><!-- END my-info -->

      
    </div><!-- END search -->

  </section><!-- END superhero -->

  <header class="main-header sm-12-12 md-12-12 lg-12-12 xl-12-12" role="navigation">


      <a href="#" id="brand"></a>
      <nav id="magic-nav">
        <a href="#" id="menu-icon">
          <span></span>
          <span></span>
          <span></span>
        </a>
        <section class="main-nav">
           <ul class="left">
            <li class="active" ><a href="/">Home</a></li>
            <li class=""><a href="{{ site.baseurl }}/about">About</a></li>
            <li class=""><a href="portfolio">Portfolio</a></li>
            <li class=""><a href="{{ site.baseurl }}/photography">Photography</a></li>
            <li class=""><a href="{{ site.baseurl }}/resume">Resume</a></li>
            <li class=""><a href="{{ site.baseurl }}/contact">Contact</a></li>
          </ul>
      </section> 
      </nav>
   </header>