  <header class="nav-header main-header sm-12-12 md-12-12 lg-12-12 xl-12-12" role="navigation">
      <a href="#" id="brand"></a>
      <nav id="magic-nav">
        <a href="#" id="menu-icon">
          <span></span>
          <span></span>
          <span></span>
        </a>
        <section class="main-nav">
           <ul class="left">
            <li class="" id="homeBTN"><a href="{{ site.baseurl }}">Home</a></li>
            <li class="" id="aboutBTN"><a href="{{ site.baseurl }}/about">About</a></li>
            <li class="" id="portfolioBTN"><a href="{{ site.baseurl }}/portfolio">Portfolio</a></li>
            <li class="" id="photographyBTN"><a href="{{ site.baseurl }}/photography">Photography</a></li>
            <li class="" id="resumeBTN"><a href="{{ site.baseurl }}/resume">Resume</a></li>
            <li class="" id="contactBTN"><a href="{{ site.baseurl }}/contact">Contact</a></li>
          </ul>
          
      </section> 
      </nav>
   </header>