  <div class="social-media-box photography">
    <ul class="social-media-box-container">
      <li><a href="https://www.facebook.com/thomasjwicker" target="blank"><i class="fa fa-facebook"></i></a></li>
      <li><a href="https://twitter.com/thomasjwicker" target="blank"><i class="fa fa-twitter"></i></a></li>
      <li><a href="https://www.linkedin.com/in/thomaswicker" target="blank"><i class="fa fa-linkedin"></i></a></li>
      <li><a href="https://github.com/thomaswicker" target="blank"><i class="fa fa-github-alt"></i></a></li>
      <li><a href="http://www.codepen.io/thomasjwicker" target="blank"><i class="fa fa-codepen"></i></a></li>
      <li><a href="http://instagram.com/thomasjwicker" target="blank"><i class="fa fa-instagram"></i></a></li>
    </ul>
  </div><!-- END social-media-box -->