  <section class="superhero about">

    <div class="pixel-me">
      {% include IMAGE_pixel_me_about.html %}
    </div><!-- END pixel-me -->
    
    <div class="my-info">
      <h1 class="header-not-home">ABOUT ME</h1>
      <p class="quote-not-home">When I was 5 years old, my mother always told me that happiness was the key to life. When I went to school, they asked me what I wanted to be when I grew up. I wrote down ‘happy’. They told me I didn’t understand the assignment, and I told them they didn’t understand life.</p>
      <small>~ John Lennon</small>
    </div><!-- END my-info -->

    <div class="last-updated"><span>Last Updated: </span>{{ site.time | date_to_string }}</div>

  </section><!-- END superhero -->