  <section class="superhero portfolio row">

    <div class="pixel-me sm-12-12 md-4-12 lg-3-12 xl-3-12">
      <img src="{{ site.baseurl }}/img/pixel_me_green.png" alt="Pixel Icon of Thomas Wicker">
    </div><!-- END pixel-me -->
    
    <div class="my-info sm-12-12 md-8-12 lg-8-12 xl-8-12">
      <h1 class="header">PORTFOLIO</h1>
      <p class="quote">I go to work every morning with the possibility that I might learn something I don’t already know… You should look at every problem and think, ‘what can I learn by doing this?’ And if you think you can learn nothing, forget about doing it.</p>
      <small>~ Milton Glaser</small>
    </div><!-- END my-info -->

  </section><!-- END superhero -->

<!--     <p class="resume">View my current portfolio on <span class="font-weight-bold">Behance.net</span></p>
      <button class="btn primary mini">
        <a href="https://www.behance.net/thomaswicker" target="blank">Click Here</a>
      </button> -->