  <section class="superhero contact">

    <div class="pixel-me">
      {% include IMAGE_pixel_me_contact.html %}
    </div><!-- END pixel-me -->
    
    <div class="my-info">
      <h1 class="header-not-home">CONTACT <span>ME</span></h1>
      <p class="quote-not-home">If I am walking with two other men, each of them will serve as my teacher. I will pick out the good points of the one and imitate them, and the bad points of the other and correct them in myself.</p>
      <small>~ Confucius</small>
    </div><!-- END my-info -->
    
    <div class="last-updated"><span>Last Updated: </span>{{ site.time | date_to_string }}</div>

  </section><!-- END superhero -->