  <section class="superhero contact row">

    <div class="pixel-me sm-12-12 md-4-12 lg-3-12 xl-3-12">
      <img src="{{ site.baseurl }}/img/pixel_me_orange.png" alt="Pixel Icon of Thomas Wicker">
    </div><!-- END pixel-me -->
    
    <div class="my-info sm-12-12 md-8-12 lg-8-12 xl-8-12">
      <h1 class="header">CONTACT ME</h1>
      <p class="quote">If I am walking with two other men, each of them will serve as my teacher. I will pick out the good points of the one and imitate them, and the bad points of the other and correct them in myself.</p>
      <small>~ Confucius</small>
    </div><!-- END my-info -->
    
    <div class="last-updated"><span>Last Updated: </span>{{ site.time | date_to_string }}</div>

  </section><!-- END superhero -->