  <section class="superhero row">

    <div class="pixel-me sm-12-12 md-4-12 lg-3-12 xl-3-12">
      <img src="{{ site.baseurl }}/img/pixel_me.png" alt="Pixel Icon of Thomas Wicker">
    </div><!-- END pixel-me -->
    
    <div class="my-info sm-12-12 md-8-12 lg-8-12 xl-8-12">
      <h1 class="header">RESUME</h1>
      <p class="resume">-- Download My Current Resume --</p>

      <div id="download-resume-btns">       
        <button class="btn primary mini">
          <a href="javascript:window.print()">PRINT</a>
        </button>

        <button class="btn primary mini">
          <a href="http://www.thomaswicker.com/resume/resume_050214.zip" target="blank">WORD</a>
        </button>
              
        <button class="btn primary mini">
          <a href="http://www.thomaswicker.com/resume/resume.pdf" target="blank">PDF</a>
        </button>

      </div><!-- END #download-resume-btns -->
    </div><!-- END .my-info -->
    
  </section><!-- END .superhero -->