  <section class="superhero row">

    <div class="pixel-me sm-12-12 md-4-12 lg-3-12 xl-3-12">
      <img src="{{ site.baseurl }}/img/pixel_me.png" alt="Pixel Icon of Thomas Wicker">
    </div><!-- END pixel-me -->
    
    <div class="my-info sm-12-12 md-8-12 lg-8-12 xl-8-12">
      <h1 class="header">Thomas Wicker</h1>
      <h2>Front End Developer/Designer</h2>
      <p>UI/UX designer, front-end developer, HTML & CSS ninja, entrepreneur, fine artist, photographer, father. Extreme passion for new tech: #html5, #css3, #sass, #jquery, #javascript, #rails</p>
    </div><!-- END my-info -->

  </section><!-- END superhero -->