  <section class="superhero">

    <div class="pixel-me">
    	{% include images/IMAGE_pixel_me_home.html %}
    </div><!-- END pixel-me -->
    
    <div class="my-info">
      <h1 class="header-home">Thomas Wicker</h1>
      <h2 class="title-home"><span>Front End </span> Developer/Designer</h2>
      <p class="quote-home">UI/UX designer, front-end developer, HTML & CSS ninja, entrepreneur, fine artist, photographer, father. </br>
      Things I dream about: <span>#html5, #css3, #sass, #javascript, #mvc, #rails, #nodejs</span></p>
    </div><!-- END my-info -->

    <div class="last-updated"><span>Last Updated: </span>{{ site.time | date_to_string }}</div>

  </section><!-- END superhero -->