  <section class="superhero portfolio">

    <div class="pixel-me">
      {% include images/IMAGE_pixel_me_portfolio.html %}
    </div><!-- END pixel-me -->
    
    <div class="my-info">
      <h1 class="header-not-home">PORTFOLIO</h1>
      <p class="quote-not-home">I go to work every morning with the possibility that I might learn something I don’t already know… You should look at every problem and think, ‘what can I learn by doing this?’ And if you think you can learn nothing, forget about doing it.</p>
      <small>~ Milton Glaser</small>
    </div><!-- END my-info -->

    <div class="last-updated"><span>Last Updated: </span>{{ site.time | date_to_string }}</div>

  </section><!-- END superhero -->

<!--     <p class="resume">View my current portfolio on <span class="font-weight-bold">Behance.net</span></p>
      <button class="btn primary mini">
        <a href="https://www.behance.net/thomaswicker" target="blank">Click Here</a>
      </button> -->