---
layout: portfolio-template
title: "Portfolio"
permalink: portfolio/
---

<div id="details">
	<div class="modules">
		<button class="closeBTN btn primary full" data-modal-close>CLOSE PREVIEW</button>
		<article></article>
	</div><!-- END .modules -->
</div><!-- END #details -->

<section id="body-portfolio" class="sm-12-12 md-12-12 lg-12-12 xl-12-12">

	<div id="body-portfolio-inner" class="sm-12-12 md-12-12 lg-12-12 xl-12-12">

		<div class="masonry">

			<article class="item">
				<h3>Oppenheimer Website Design</h3>
				<h4>HTML5, CSS3, SASS, jQuery, Javascript, Foundations, AngularJS, Rails</h4>
				<div class="image">{% include portfolio/PORTFOLIO_oppenheimer.html %}</div>
				<div class="buttons">
					<a href="https://www.behance.net/gallery/20924257/Oppenheimer-Funds-Responsive-Web-Application" target="blank" class="btn mini">VIEW ON BEHANCE</a>
					<a href="https://www.oppenheimerfunds.com/investor" class="btn earth mini">VIEW SITE</a>
				</div><!-- END .buttons -->
			</article><!-- END .item -->

			<article class="item">
				<h3>Realtime Music Website Design</h3>
				<h4>HTML5, CSS3, SASS, jQuery, Javascript, Bootstrap</h4>
				<div class="image">{% include portfolio/PORTFOLIO_rms.html %}</div>
				<div class="buttons">
					<a href="https://www.behance.net/gallery/18270733/Responsive-UIUX-Design-for-RealTime-Music-Solutions" target="blank" class="btn mini">VIEW ON BEHANCE</a>
					<a href="http://www.rms.biz" target="blank" class="btn earth mini">VIEW SITE</a>
				</div><!-- END .buttons -->
			</article><!-- END .item -->

			<article class="item">
				<h3>Tablet App for Cricket</h3>
				<h4>HTML5, CSS3, SASS, jQuery, Javascript</h4>
				<div class="image">{% include portfolio/PORTFOLIO_cricket_tablet.html %}</div>
				<div class="buttons">
					<a href="https://www.behance.net/gallery/18269631/UIUX-for-iPad-app-for-Cricket-Communications" target="blank" class="btn mini">VIEW ON BEHANCE</a>
				</div><!-- END .buttons -->
			</article><!-- END .item -->

			<article class="item">
				<h3>WEST Website Design</h3>
				<h4>HTML5, CSS3, SASS, jQuery, Javascript, Wordpress</h4>
				<div class="image">{% include portfolio/PORTFOLIO_west.html %}</div>
				<div class="buttons">
					<a href="https://www.behance.net/gallery/18346459/UIUX-and-Front-End-Dev-for-WEST-Inc-in-Cheyenne-WY" target="blank" class="btn mini">VIEW ON BEHANCE</a>
					<a href="http://www.west-inc.com" target="blank" class="btn earth mini">VIEW SITE</a>
				</div><!-- END .buttons -->
			</article><!-- END .item -->

			<article class="item">
				<h3>DaVita Grand Central</h3>
				<h4>HTML5, CSS3, SASS, jQuery, Javascript</h4>
				<div class="image">{% include portfolio/PORTFOLIO_davita_tasks.html %}</div>
				<div class="buttons">
					<a href="https://www.behance.net/gallery/18351745/Responsive-Task-Manager-and-Intranet-Design" target="blank" class="btn mini">VIEW ON BEHANCE</a>
				</div><!-- END .buttons -->
			</article><!-- END .item -->

			<article class="item">
				<h3>Responsive Web Design for XIRI Media</h3>
				<h4>HTML5, CSS3, SASS, jQuery, Javascript</h4>
				<div class="image">{% include portfolio/PORTFOLIO_xiri.html %}</div>
				<div class="buttons">
					<a href="https://www.behance.net/gallery/18346811/Responsive-Website-Design-for-XIRI-Media-LLC" target="blank" class="btn mini">VIEW ON BEHANCE</a>
					<a href="http://www.xirimedia.com" target="blank" class="btn earth mini">VIEW SITE</a>
				</div><!-- END .buttons -->
			</article><!-- END .item -->

			<article class="item">
				<h3>Application Design for Davita</h3>
				<h4>HTML5, CSS3, SASS, jQuery, Javascript</h4>
				<div class="image">{% include portfolio/PORTFOLIO_davita_tasks2.html %}</div>
				<div class="buttons">
					<a href="https://www.behance.net/gallery/18351653/UIUX-Front-End-Dev-for-DaVita" target="blank" class="btn mini">VIEW ON BEHANCE</a>
					<a href="http://www.davitaapps.com/index.html" target="blank" class="btn earth mini">WIREFRAME</a>
				</div><!-- END .buttons -->
			</article><!-- END .item -->

			<article class="item">
				<h3>Application for Cricket</h3>
				<h4>HTML5, CSS3, SASS, jQuery, Javascript</h4>
				<div class="image">{% include portfolio/PORTFOLIO_cricket_CID.html %}</div>
				<div class="buttons">
					<a href="https://www.behance.net/gallery/18269519/UIUX-for-Cricket-Communications-MyAccount-Manager-App" target="blank" class="btn mini">VIEW ON BEHANCE</a>
					<a href="http://www.xirimedia.com/cricket/CID2/1.php" target="blank" class="btn earth mini">VIEW SITE</a>
				</div><!-- END .buttons -->
			</article><!-- END .item -->

			<article class="item">
				<h3>Responsive Website for Stream Energy</h3>
				<h4>HTML5, CSS3, SASS, jQuery, Javascript, jQuery Mobile</h4>
				<div class="image">{% include portfolio/PORTFOLIO_stream_full_site.html %}</div>
				<div class="buttons">
					<a href="https://www.behance.net/gallery/18346319/Mobile-App-for-Stream-Energy" target="blank" class="btn mini">VIEW ON BEHANCE</a>
					<a href="http://www.mystream.com/" target="blank" class="btn earth mini">VIEW SITE</a>
				</div><!-- END .buttons -->
			</article><!-- END .item -->

			<article class="item">
				<h3>Android App Design for Cricket</h3>
				<h4>HTML5, CSS3, SASS, jQuery, Javascript</h4>
				<div class="image">{% include portfolio/PORTFOLIO_cricket_mobile.html %}</div>
				<div class="buttons">
					<a href="https://www.behance.net/gallery/18269737/Android-App-Design-for-Cricket-Communications" target="blank" class="btn mini">VIEW ON BEHANCE</a>
				</div><!-- END .buttons -->
			</article><!-- END .item -->

			<article class="item">
				<h3>Responsive Site for Gil Ledesma</h3>
				<h4>HTML5, CSS3, SASS, jQuery, Javascript, Bootstrap</h4>
				<div class="image">{% include portfolio/PORTFOLIO_tattoo_gil.html %}</div>
				<div class="buttons">
					<a href="https://www.behance.net/gallery/18347697/Responsive-Website-Design-for-Tattoo-Artist-Gil-Ledesma" target="blank" class="btn mini">VIEW ON BEHANCE</a>
					<a href="http://www.tattoogil.com/" target="blank" class="btn earth mini">VIEW SITE</a>
				</div><!-- END .buttons -->
			</article><!-- END .item -->

			<article class="item">
				<h3>Responsive SVG - jMap</h3>
				<h4>HTML5, CSS3, SASS, SVG</h4>
				<div class="image">{% include portfolio/PORTFOLIO_jMap.html %}</div>
				<div class="buttons">
					<a href="https://www.behance.net/gallery/20925055/Responsive-SVG-Map" target="blank" class="btn mini">VIEW ON BEHANCE</a>
					<a href="https://github.com/thomaswicker/jMap" target="blank" class="btn earth mini">VIEW ON GITHUB</a>
				</div><!-- END .buttons -->
			</article><!-- END .item -->

			<article class="item">
				<h3>Responsive Site for Lumbleau</h3>
				<h4>HTML5, CSS3, SASS, jQuery, Javascript, Bootstrap</h4>
				<div class="image">{% include portfolio/PORTFOLIO_lumbleau.html %}</div>
				<div class="buttons">
					<a href="https://www.behance.net/gallery/18347915/Responsive-Website-Development-for-Lumbleau-Real-Estate" target="blank" class="btn mini">VIEW ON BEHANCE</a>
					<a href="http://lumbleau.com/" target="blank" class="btn earth mini">VIEW SITE</a>
				</div><!-- END .buttons -->
			</article><!-- END .item -->

			<article class="item">
				<h3>Application Design for Cricket</h3>
				<h4>HTML5, CSS3, SASS, jQuery, Javascript</h4>
				<div class="image">{% include portfolio/PORTFOLIO_cricket_main.html %}</div>
				<div class="buttons">
					<a href="https://www.behance.net/gallery/18347447/Software-Application-Design-for-Cricket-Wireless" target="blank" class="btn mini">VIEW ON BEHANCE</a>
					<a href="https://www.cricketwireless.com/" target="blank" class="btn earth mini">VIEW SITE</a>
				</div><!-- END .buttons -->
			</article><!-- END .item -->

			<article class="item">
				<h3>Personal CSS Framework - PotionCSS</h3>
				<h4>HTML5, CSS3, SASS, jQuery, Javascript</h4>
				<div class="image">{% include portfolio/PORTFOLIO_potion.html %}</div>
				<div class="buttons">
					<a href="https://www.behance.net/gallery/20925447/Custom-SASSCSS-Framework-PotionCSS" target="blank" class="btn mini">VIEW ON BEHANCE</a>
					<a href="https://github.com/thomaswicker/potion-css" target="blank" class="btn earth mini">VIEW ON GITHUB</a>
				</div><!-- END .buttons -->
			</article><!-- END .item -->

		</div><!-- END .masonry -->

	</div><!-- END #body-portfolio-inner -->

</section><!-- END #body-portfolio -->



