<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include socialmedia.html %}
    {% include superhero-photography.html %}
    {% include nav.html %}

        {{ content }}

    {% include footer.html %}

	  <script src="{{ site.baseurl }}/js/behance.js"></script>
    <script src="{{ site.baseurl }}/bower_components/masonry/dist/masonry.pkgd.min.js"></script>
    <script src="{{ site.baseurl }}/js/jquery.magnific-popup.min.js"></script>

    <script>
    $(window).load(function() {

           //JS BELOW IS FOR MASONRY INITIALIZATION
          $('.masonry').masonry({
               itemSelector : '.item',
               isAnimated: true,
               animationOptions: {
                    duration: 700,
                    easing: 'linear',
                    queue: false
               }
          });

          //JS BELOW IS FOR MAGNIFIC POPUP LIGHTBOX
          $('.masonry').magnificPopup({
              delegate: 'a',
              type: 'image',
              removalDelay: 300,
              mainClass: 'mfp-fade',
              gallery: {
                enabled: true,
                navigateByImgClick: true,
                preload: [0,1]
              }
            });
      });

    </script>


	<script type="text/javascript">
      	var loc = window.location.href;
        if(loc=== "{{ site.baseurl }}/") {
             $("#homeBTN").addClass("current");
         } else if (loc=== "{{ site.baseurl }}/about/") {
             $("#aboutBTN").addClass("current");
         } else if (loc=== "{{ site.baseurl }}/portfolio/") {
             $("#portfolioBTN").addClass("current");
         } else if (loc=== "{{ site.baseurl }}/photography/") {
             $("#photographyBTN").addClass("current");
         } else if (loc=== "{{ site.baseurl }}/resume/") {
             $("#resumeBTN").addClass("current");
         } else if (loc=== "{{ site.baseurl }}/contact/") {
             $("#contactBTN").addClass("current");
         } 
	</script>

  </body>

</html>
