<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  {% include socialmedia/socialmedia-portfolio.html %}
  {% include superhero/superhero-portfolio.html %}
  {% include nav.html %}
  
    {{ content }}
    
  <!-- MAGICAL SPELLS -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> 
  <script src="{{ site.baseurl }}/js/application.min.js"></script>

  <script>
    $(window).load(function() {
          //JS BELOW IS FOR MASONRY INITIALIZATION
          $('.masonry').masonry({
           itemSelector : '.item',
           isAnimated: true,
           animationOptions: {
            duration: 700,
            easing: 'linear',
            queue: false
          }
        });
      });
  </script>

  {% include footer.html %}

</body>

</html>
