<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include socialmedia.html %}
    {% include superhero-resume.html %}
    {% include nav.html %}

        {{ content }}

    {% include footer.html %}

	<script type="text/javascript">
      	var loc = window.location.href;
        if(loc=== "{{ site.baseurl }}/") {
             $("#homeBTN").addClass("current");
         } else if (loc=== "{{ site.baseurl }}/about/") {
             $("#aboutBTN").addClass("current");
         } else if (loc=== "{{ site.baseurl }}/portfolio/") {
             $("#portfolioBTN").addClass("current");
         } else if (loc=== "{{ site.baseurl }}/photography/") {
             $("#photographyBTN").addClass("current");
         } else if (loc=== "{{ site.baseurl }}/resume/") {
             $("#resumeBTN").addClass("current");
         } else if (loc=== "{{ site.baseurl }}/contact/") {
             $("#contactBTN").addClass("current");
         } 
	</script>

  </body>

</html>
